<div class="container">
  <div class="forms-container">
    <div class="signin-signup">
      <form [formGroup]="registerForm" class="sign-in-form">
        <h2 class="title">CADASTRO</h2>
        <div class="input-field">
          <input [formControlName]="'name'" type="text" placeholder="Nome de Usuário"/>
        </div>

        <div class="input-field">
          <input [formControlName]="'email'" type="email" placeholder="E-mail"/>
        </div>

        <div class="input-field">
          <input [formControlName]="'password'" type="password" placeholder="Senha"/>
        </div>
        <input (click)="register()" type="submit" value="Cadastrar" class="btn solid"/>
      </form>
    </div>
  </div>


  <div class="panels-container">
    <div class="panel left-panel">
      <img class="image" src="assets/imagens/tse-logo.png" alt="">
      <div class="content">
        <h3>Já tem uma conta?</h3>
        <p>
          Faça seu login agora mesmo e faça sua parte pelo país! #Brasil
        </p>
        <button (click)=navigateService.navigateToLogin() class="btn transparent" id="sign-up-btn">
          Entrar
        </button>
      </div>
    </div>
  </div>
</div>
