<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="sidenav">
  <div class="login-main-text">
    <h2>Processo de cadastro </h2>
    <p>Cadastre-se agora mesmo!!</p>
    <p>Rapido, fácil e seguro!</p>


  </div>
</div>
<div class="main">
  <img class="brasao" src="assets/imagens/brasao-preto-branco.jpeg" alt="">
  <div class="col-md-6 col-sm-12">
    <div class="login-form">
      <form method="post" [formGroup]="registerForm">
        <div class="form-group">
          <label>Nome do usuário</label>
          <input [formControlName]="'name'" type="text" class="form-control" placeholder="Insira seu nome">
        </div>
        <label>Email</label>
        <input [formControlName]="'email'" type="email" class="form-control" placeholder="E-mail">
        <div class="form-group">
          <label>Senha</label>
          <input [formControlName]="'password'" type="password" class="form-control" placeholder="Senha">
        </div>
        <button (click)="register()" class="btn btn-secondary">Cadastrar</button>
      </form>
    </div>
  </div>
</div>
