<div class="urna">
  <div class="linkResult">
    <button type="submit" class="link"><a class="internalLink" href="#">Resultados Parciais</a></button>
  </div>
  <div class="logout">
    <button (click)="auth.logout()" id="logout">Sair</button>
  </div>
  <div class="screen">
    <div class="div1">
      <div class="div1-left">
        <div class="left1">
          <span>SEU VOTO PARA</span>
        </div>
        <div class="left2">
          <span>{{position[currentStage]}}</span>
        </div>
        <div class="numberBox">
          <div class="square focus"></div>
          <div class="square"></div>
          <div *ngIf="qtdNumbers[currentStage] > 2" class="square"></div>
          <div *ngIf="qtdNumbers[currentStage] > 3" class="square"></div>
          <div *ngIf="qtdNumbers[currentStage] > 4"  class="square"></div>
        </div>
        <div *ngIf="candidates != []" class="informations">
          Nome: {{candidates['nome']}}<br/>
          partido: {{candidates['partido']}} <br/>
        </div>
      </div>
      <div class="div1-right">
        <div class="right1">
          <img src="" alt=""/>
              {{candidates['imgCandidato']}}
        </div>
      </div>
    </div>

    <div class="div2">
      Aperte a tecla: <br>
      VERDE &emsp;&emsp;para CONFIRMAR este voto
      <br>
      LARANJA &emsp;para REINICIAR este voto


    </div>
  </div>
  <div class="keyboard">
    <div class="keyboard-row">
      <div *ngFor="let keyboards of keyboard" (click)="insertNumber(keyboards)" class="numbersKeyboard" >
        {{keyboards}}
      </div>
    </div>

    <div class="keyboard-row">
      <div class="keyboard-button white" onclick="branco()">BRANCO</div>
      <div class="keyboard-button correct" onclick="corrige()">CORRIGE</div>
      <div class="keyboard-button confirm" onclick="confirma()">CONFIRMA</div>
    </div>

  </div>
</div>

