<header>
  <nav class="navMenu">
    <span (click)="navigateService.navigateToParcialVotes()" >Resultados parciais</span>
    <span (click)="navigateService.navigateToRegisterCandidate()">Cadastrar Candidato</span>
    <span (click)="auth.logout()">Sair</span>
  </nav>
</header>
<div class="urna">
  <div class="screen">
    <div *ngIf="finish" class="end focus">FIM!</div>
    <div class="div1">
      <div class="div1-left">
        <div class="left1">
          <span *ngIf="!finish">SEU VOTO PARA</span>
        </div>
        <div class="left2">
          <span>{{position[currentStage]}}</span>
        </div>
        <div *ngIf="!finish" class="numberBox">
          <div class="square focus"></div>
          <div class="square"></div>
          <div *ngIf="qtdNumbers[currentStage]> 2" class="square"></div>
          <div *ngIf="qtdNumbers[currentStage]> 3" class="square"></div>
          <div *ngIf="qtdNumbers[currentStage]> 4" class="square"></div>
        </div>

        <div *ngIf="showInformations" class="informations">
          NOME: {{candidates['nome']}}<br>
          PARTIDO: {{candidates['partido']}} <br/>
        </div>
        <div *ngIf="showNull" class="nulo focus">
          VOTO NULO
        </div>
        <div *ngIf="whiteVote" class="branco focus">VOTO EM BRANCO</div>

      </div>
      <div class="div1-right">
        <div *ngIf="!finish" class="right1">
          <img [src]="candidates['imgCandidato']" alt=""/>
        </div>
      </div>
    </div>

    <div *ngIf="!finish" class="div2">
      Aperte a tecla: <br>
      VERDE &emsp;&emsp;para CONFIRMAR este voto
      <br>
      LARANJA &emsp;para REINICIAR este voto

    </div>
  </div>
  <div class="keyboard">
    <div class="keyboard-row">
      <div *ngFor="let keyboards of keyboard" (click)="insertNumber(keyboards)" class="numbersKeyboard">
        {{keyboards}}
      </div>
    </div>

    <div class="keyboard-row">
      <div class="final-text" *ngIf="finish">Votação encerrada! Obrigado pela sua colaboração com o país.</div>
      <div class="keyboard-button white" *ngIf="!finish" (click)="white()">BRANCO</div>
      <div class="keyboard-button correct"  *ngIf="!finish" (click)="correction()">CORRIGE</div>
      <div class="keyboard-button confirm"  *ngIf="!finish" (click)="confirm()">CONFIRMA</div>
    </div>

  </div>
</div>

