<html>
<body>
<div class="container">
  <div class="logout">
    <button (click)="logout()" id="logout">Sair</button>
  </div>
 <div class="title"><h1>CADASTRO DE CANDIDATO</h1></div>
  <form [formGroup]="candidateRegister">
    <div class="col-md-6 col-sm-12">
      <div class="candidateRegister">
        <span>Selecione o cargo que o candidato irá disputar!</span>
        <select (change)="setMask()" [formControlName]="'cargo'" name="positions" id="positions">
          <option value="Presidente">Presidente</option>
          <option value="Senador">Senador</option>
          <option value="DeputadoFederal">Deputado Federal</option>
          <option value="DeputadoEstadual">Deputado Estadual</option>
          <option value="Governador">Governador</option>
        </select>
      </div>
      <div class="form-group">
        <label class="labelOne">Nome:</label>
        <input  [formControlName]="'nome'" type="text" class="name" placeholder="nome do candidato" required>
      </div>
      <div class="form-group">
        <label class="labelTwo">Número:</label>
        <input [formControlName]="'numero'"   [mask]="maskNumber" type="text" class="number"  placeholder="numero do candidato" required>
      </div>
      <div class="form-group">
        <label class="labelThree">Partido:</label>
        <input [formControlName]="'partido'" type="text" class="party" placeholder="partido do candidato" required>
      </div>
      <div class="form-group">
        <label class="LabelFour" id="labelImage">imagem do candidato:</label>
        <input [formControlName]="'imgCandidato'" type="file"  class="image" required>
      </div>

      <button (click)="registerCandidate()" type="submit" class="btn btn-submit">Cadastrar</button>
      <button (click)="goToVotationStage()" class="votationStage"  id="votationStage">Ir para a votação</button>
    </div>
  </form>
</div>
</body>
</html>
