<fieldset>

  <h1>CADASTRO DE CANDIDATO</h1>
  <form>
    <div class="col-md-6 col-sm-12">
      <div class="candidateRegister">
        <span>Selecione o cargo que o candidato irá disputar!</span>
        <select name="positions" id="positions">
          <option value="Presidente">Presidente</option>
          <option value="Senador">Senador</option>
          <option value="Deputado Federal">Deputado Federal</option>
          <option value="Deputado Estadual">Deputado Estadual</option>
          <option value="Governador">Governador</option>
        </select>
      </div>
      <div class="form-group">
        <label>Nome</label>
        <input type="text" class="form-control" placeholder="nome do candidato">
      </div>
      <div class="form-group">
        <label>Número</label>
        <input type="password" class="form-control" placeholder="numero do candidato">
      </div>
      <div class="form-group">
        <label>Partido</label>
        <input type="password" class="form-control" placeholder="partido pelo qual o candidato irá concorrer as eleições ">
      </div>
      <div class="form-group">
        <label>imagem do candidato</label>
        <input type="password" class="form-control" placeholder="insira uma imagem do candidato ">
      </div>
      <button type="submit" class="btn btn-submit">Cadastrar</button>
    </div>
  </form>


</fieldset>
