<div class="container">
  <div class="forms-container">
    <div class="signin-signup">
      <form [formGroup]="loginForm" novalidate class="sign-in-form">
        <h2 class="title">Entrar</h2>
        <div class="input-field">
          <input [formControlName]="'email'" type="text" placeholder="E-mail"/>
        </div>
        <div class="input-field">
          <input [formControlName]="'password'" type="password" placeholder="Password"/>
        </div>
        <input (click)="userLogin()" type="submit" value="Login" class="btn solid"/>
      </form>
      <div *ngIf="errorCredentials" class="alert alert danger" role="alert">
        Ops, algo não está certo! Verifique se seu E-mail e senha estão corretos!
      </div>



    </div>
  </div>
  <div class="panels-container">
    <div class="panel left-panel">
      <div class="content">
        <img class="image" src="assets/imagens/tse-logo.png" alt="">
        <h3>Ainda não tem uma conta?</h3>
        <p>
          Crie agora mesmo sua conta e faça parte do futuro do seu País!
        </p>
        <button (click)="userRegister()" class="btn transparent" id="sign-up-btn">
          cadastre-se
        </button>
      </div>
      <img src="" class="image" alt=""/>
    </div>
  </div>
</div>
