<section class="container">
  <nav class="navMenu">
    <span (click)="profile.redirectToVotation()">Votar</span>
    <span (click)="profile.redirectToRegisterCandidate()">Cadastrar Candidato</span>
    <span (click)="auth.logout()">Sair</span>

  </nav>
  <div class="President card">
    <span class="title">PRESIDENTE</span>
    <ul *ngFor="let candidates of candidatesPresident">
      <span class="candidate">{{candidates['nome']}}</span>
      <br>
      <span class="votes">VOTOS ATUAIS:{{candidates['qtdVotos']}}</span>
    </ul>
  </div>

  <div class="Senator card">
    <span class="title">SENADOR</span>
    <ul *ngFor="let candidates of candidatesSenator">
      <span class="candidate">{{candidates['nome']}}</span>
      <br>
      <span class="votes">VOTOS ATUAIS:{{candidates['qtdVotos']}}</span>
    </ul>
  </div>
  <div class="Governor card">
    <span class="title">GOVERNADOR</span>
    <ul *ngFor="let candidates of candidatesGovernor">
      <span class="candidate">{{candidates['nome']}}</span>
      <br>
      <span class="votes">VOTOS ATUAIS:{{candidates['qtdVotos']}}</span>
    </ul>
  </div>


  <div class="Deputy card">
    <span class="title">DEPUTADO ESTADUAL</span>
    <ul *ngFor="let candidates of candidatesDeputy">
      <span class="candidate">{{candidates['nome']}}</span>
      <br>
      <span class="votes">VOTOS ATUAIS: {{candidates['qtdVotos']}}</span>

    </ul>
  </div>


  <div class="Congressman card">
    <span class="title">DEPUTADO FEDERAL</span>
    <ul *ngFor="let candidates of candidatesCongressman">
      <span class="candidate">{{candidates['nome']}}</span>
      <br>
      <span class="votes">VOTOS ATUAIS: {{candidates['qtdVotos']}}</span>
    </ul>
  </div>

</section>
