
.container {
  height: 100vh;
  overflow-y: scroll;
}

.table{
  margin-top: 40px;
  padding-top: 30px;
}

.qtdVotos {
  color: #15b853;
  font-weight: 700;
}

.blueNames{
  color: #0568c4;
  font-weight: 700;
}

.blackNames{
  font-weight: 700;
  color: #000000;
}

th{
  color: #726f6f;
}

.navMenu{
  position: absolute;
  display: flex;
  justify-content: right;
  background-color: #081f38;
  width: 100%;
  height: 50px;
}

.navMenu span {
  display: inline-block;
  margin: 20px;
  color: #ffffff;
  text-decoration: none;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 500;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.navMenu span:hover {
  color: #fddb3a;
}


td{
  text-transform: capitalize;
}
